USE [master]
GO
/****** Object:  Database [People_Analytics]    Script Date: 07/06/2026 10:43:31 ******/
CREATE DATABASE [People_Analytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'People_Analytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\People_Analytics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'People_Analytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\People_Analytics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [People_Analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [People_Analytics]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07/06/2026 10:43:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [varchar](10) NOT NULL,
	[EmployeeName] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[JobTitle] [varchar](50) NULL,
	[JobGrade] [varchar](10) NULL,
	[Gender] [varchar](10) NULL,
	[Ethnicity] [varchar](30) NULL,
	[Age] [int] NULL,
	[Region] [varchar](30) NULL,
	[HireDate] [date] NULL,
	[LeaveDate] [date] NULL,
	[Status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_WorkforceOverview]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_WorkforceOverview] AS
SELECT
    e.EmployeeID,
    e.EmployeeName,
    e.Department,
    e.JobTitle,
    e.JobGrade,
    e.Gender,
    e.Ethnicity,
    e.Age,
    e.Region,
    e.HireDate,
    e.LeaveDate,
    e.Status,
    DATEDIFF(YEAR, e.HireDate, COALESCE(e.LeaveDate, GETDATE())) AS YearsOfService
FROM Employees e;
GO
/****** Object:  Table [dbo].[Absence]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absence](
	[AbsenceID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[AbsenceDate] [date] NULL,
	[ReturnDate] [date] NULL,
	[DaysAbsent] [int] NULL,
	[AbsenceReason] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AbsenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AbsenceAnalysis]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AbsenceAnalysis] AS
SELECT
    e.EmployeeID,
    e.EmployeeName,
    e.Department,
    e.Region,
    e.Gender,
    a.AbsenceID,
    a.AbsenceDate,
    a.ReturnDate,
    a.DaysAbsent,
    a.AbsenceReason
FROM Absence a
JOIN Employees e ON a.EmployeeID = e.EmployeeID;
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[SalaryID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[SalaryAmount] [decimal](10, 2) NULL,
	[EffectiveDate] [date] NULL,
	[SalaryBand] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalaryEquity]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SalaryEquity] AS
SELECT
    e.EmployeeID,
    e.EmployeeName,
    e.Department,
    e.JobGrade,
    e.Gender,
    e.Ethnicity,
    e.Region,
    s.SalaryAmount,
    s.EffectiveDate,
    s.SalaryBand
FROM Salary s
JOIN Employees e ON s.EmployeeID = e.EmployeeID;

GO
/****** Object:  Table [dbo].[Recruitment]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recruitment](
	[RecruitmentID] [varchar](10) NOT NULL,
	[JobTitle] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[PostedDate] [date] NULL,
	[OfferDate] [date] NULL,
	[HireDate] [date] NULL,
	[Region] [varchar](30) NULL,
	[Source] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecruitmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RecruitmentMetrics]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_RecruitmentMetrics] AS
SELECT
    RecruitmentID,
    JobTitle,
    Department,
    Region,
    Source,
    PostedDate,
    OfferDate,
    HireDate,
    DATEDIFF(DAY, PostedDate, OfferDate) AS DaysToOffer,
    DATEDIFF(DAY, PostedDate, HireDate) AS DaysToHire
FROM Recruitment;
GO
/****** Object:  Table [dbo].[Training]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[TrainingID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[TrainingName] [varchar](50) NULL,
	[TrainingType] [varchar](30) NULL,
	[CompletionDate] [date] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TrainingCompliance]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TrainingCompliance] AS
SELECT
    e.EmployeeID,
    e.EmployeeName,
    e.Department,
    e.Region,
    t.TrainingName,
    t.TrainingType,
    t.CompletionDate,
    t.Status
FROM Training t
JOIN Employees e ON t.EmployeeID = e.EmployeeID;
GO
/****** Object:  Table [dbo].[Performance]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performance](
	[PerformanceID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NULL,
	[ReviewDate] [date] NULL,
	[Rating] [varchar](20) NULL,
	[Score] [decimal](3, 1) NULL,
	[ReviewerName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PerformanceInsights]    Script Date: 07/06/2026 10:43:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PerformanceInsights] AS
SELECT
    e.EmployeeID,
    e.EmployeeName,
    e.Department,
    e.JobGrade,
    e.Gender,
    e.Region,
    p.ReviewDate,
    p.Rating,
    p.Score,
    p.ReviewerName
FROM Performance p
JOIN Employees e ON p.EmployeeID = e.EmployeeID;
GO
ALTER TABLE [dbo].[Absence]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Performance]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
USE [master]
GO
